:root {
    --tree-offset-left: 15pt;
    --even-background: #f3f7fb;
    --odd-background: #ffffff;
    --selected-background: #a3d7fb;
    --column-height: calc(100vh);
    /* Filter height - 28px*/
    --column-height-properties: calc(100vh - 28px);;
    --props-header-titles: calc(100% - 5px);;
}

body {
    margin: 0;
    background: #C1C1C1;
}

/*region Scrollbar*/

/*::-webkit-scrollbar {*/
/*    width: 0.5em;*/
/*    height: 0.5em*/
/*}*/

/*::-webkit-scrollbar-track-piece {*/
/*    background: #F1F1F1*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #C1C1C1*/
/*}*/

/*endregion Scrollbar*/

.split-table {
    display: grid;
    /*grid-template-columns: 1fr 5px 1fr 5px 1fr;*/
    grid-template-columns: 1.3fr 5px 0.7fr 5px 1fr;
    height: var(--column-height);
    bottom: 0;
    align-items: stretch;
}

.split-table-separator {
    cursor: ew-resize;
    background: #EEE;
}

.split-table-column {
    overflow-y: auto;
    background: #FFF;
}

.left {
    z-index: 1000;
}

.middle {
    z-index: 1001;
}

.right {
    z-index: 1002;
}

.render-container {
    position: relative;
}

.render {
    background: orange;
    position: relative;
    width: 100%;
}

#canvas-rendering {
    background: lightskyblue;
    height: 500px;
    width: 1000px;
    /*width: 100px;*/
    left: 0;
    top: 0;
    opacity: 0.3;
    position: absolute;
}

/*region Tree*/

table.tree {
    text-align: left;
    font-family: monospace;
    font-size: 10pt;
    border-spacing: 0px;
    cursor: pointer;
    height: var(--column-height);
    overflow-y: scroll;
    display: block;
}

table.tree th {
    padding: 3px 10px;
}

table.tree tr {
    width: 100%;
}

tr.tree-even {
    background-color: var(--even-background);
}

tr.tree-odd {
    background-color: var(--odd-background);
}

.tree-selected {
    background-color: var(--selected-background);
}

.tree-class-name {

}

.tree-res-id {
    color: #000;
    opacity: 0.5;
    margin-left: 5pt;
    font-size: 0.8em;
}

/*endregion*/

/*region Props*/
.properties {
    text-align: left;
    font-family: monospace;
    font-size: 9pt;
    border-spacing: 0;
    height: var(--column-height-properties);
    overflow-y: scroll;
    display: block;
    column-gap: 40px;
}

.properties-header, .properties-header-title {
    border-bottom: 2px solid #6f7277;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
}

.properties-header-title {
    /* ? */
    width: var(--props-header-titles);
}
.properties-value {
    word-break: break-word;
}
tr.properties-even {
    background-color: var(--even-background);
}

tr.properties-odd {
    background-color: var(--odd-background);
}

td {
    padding: 2px 0 2px 5px;
}

.properties-even:hover, .properties-odd:hover {
    background-color: var(--selected-background);
}

.properties-color {
    display: block;
    position: relative;
    height: 12px;
    width: 12px;
    border: 1px gray solid;
    vertical-align: center;
    margin: 0 3px;
}

.properties-filter {
    font-family: monospace;
    font-size: 9pt;
    width: var(--props-header-titles);
}

table.properties b {
    color: #ff0077;
    font-weight: bolder;
}

.ui-tree-node {
    cursor: pointer;
}

.ui-tree-circle, .ui-tree-circle-selected {
    stroke: #4682B4;
    stroke-width: 1.5px;
}

.ui-tree-circle {
    fill: #FFFFFF;
}

.ui-tree-circle-selected {
    fill: coral;
}

svg text {
    /*font: 9.5px "Lucida Console", Monaco, monospace, sans-serif;*/
    /*font: 12px monospace;*/
}

.ui-tree-node-type {
    font: 9.5px "Lucida Console", Monaco, monospace, sans-serif;
}

.ui-tree-node-id {
    font: 8.5px "Lucida Console", Monaco, monospace, sans-serif;
    fill: #6f7277;
}


/*endregion Props*/