:root {
    --tree-offset-left: 15pt;
    --even-background: #f3f7fb;
    --odd-background: #ffffff;
    --selected-background: #a3d7fb;
    --column-height: calc(100vh);
    /* Filter height - 28px, TODO handle it based on flag*/
    --column-height-properties: calc(100vh - 28px);;
    --props-header-titles: calc(100% - 5px);;
}

body {
    margin: 0;
}

/*endregion Scrollbar*/

.split-table {
    display: grid;
    /*grid-template-columns: 1fr 5px 1fr 5px 1fr;*/
    grid-template-columns: 1.3fr 5px 0.7fr 5px 1fr;
    height: var(--column-height);
    bottom: 0;
    align-items: stretch;
}

.split-table-separator {
    cursor: ew-resize;
    background: #EEE;
}

.split-table-column {
    overflow-y: auto;
    background: #FFF;
}

.left {
    z-index: 1000;
}

.middle {
    z-index: 1001;
}

.right {
    z-index: 1002;
}

.render-container {
    position: relative;
}

.render {
    background: orange;
    position: relative;
    width: 100%;
}

#canvas-rendering {
    background: lightskyblue;
    height: 500px;
    width: 1000px;
    /*width: 100px;*/
    left: 0;
    top: 0;
    opacity: 0.3;
    position: absolute;
}

/*region Tree*/

table.tree {
    text-align: left;
    font-family: monospace;
    font-size: 10pt;
    border-spacing: 0px;
    cursor: pointer;
    height: var(--column-height);
    overflow-y: scroll;
    display: block;
}

table.tree th {
    padding: 3px 10px;
}

table.tree tr {
    width: 100%;
}

tr.tree-even {
    background-color: var(--even-background);
}

tr.tree-odd {
    background-color: var(--odd-background);
}

.tree-selected {
    background-color: var(--selected-background);
}

.tree-class-name {

}

.tree-res-id {
    color: #000;
    opacity: 0.5;
    margin-left: 5pt;
    font-size: 0.8em;
}

/*endregion*/

.ui-table-view-container {
    /*height: var(--column-height);*/
    height: var(--column-height-properties);
}

.ui-table-view {
    text-align: left;
    font-family: monospace;
    font-size: 10pt;
    border-spacing: 0px;
    width: 100%;
    overflow-y: scroll;
    display: table;
}

.ui-table-view-header, .ui-table-view-header-title {
    border-bottom: 2px solid #6f7277;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
}

.ui-table-view-filter {
    width: var(--props-header-titles);
}

.ui-table-view-filter-input {
    width:100%;
    font-family: monospace;
    font-size: 9pt;
}

.ui-table-view th {
    padding: 3px 10px;
}

.ui-table-view-header {
    cursor: pointer;
    padding: 3px 10px;
}

.ui-table-view-row-even {
    background-color: var(--even-background);
}

.ui-table-view-row-odd {
    background-color: var(--odd-background);
}

.ui-table-view b {
    color: #ff0077;
    font-weight: bolder;
}

.ui-table-view-properties-value{
    word-break: break-all;
}

.ui-table-view-properties-color {
    display: block;
    position: relative;
    height: 12px;
    width: 12px;
    border: 1px gray solid;
    vertical-align: center;
    margin: 0 3px;
}
